![image info](https://drive.google.com/uc?id=1AerT9299ijreLjEeIoGLv6SoT-SFC6-m)

# Inhaltsverzeichnis 

- **Challenges**
- **Challenge 1: Summe**
- **Challenge 2: Paare**

# Challenges

Einige knifflige Aufgaben zum Knobeln und ausprobieren! 

# Challenge 1: Summe

Was ist die Summe aller Zahlen zwischen $0$ und $1000$, die durch 7 teilbar sind. Also <br><br>
\begin{align}
7+14+21+28+...
\end{align}

In [1]:
summe = 0

for a in range(1,1001,1):
    
    if a % 7 != 0:
        continue
    else:
        summe += a
        
print(summe)

71071


# Challenge 2: Paare

Lasse dir alle Paare $(i,j)$  ausgeben, f√ºr die gilt 
\begin{align}
1 \leq i < j \leq 10
\end{align}.

D.h. 
\begin{align}
(1,2) \\
(1,3) \\
(1,4) \\
... \\ 
(8,10) \\
(9,10)
\end{align}

In [12]:

for x in range(1,11):
    
    for y in range(2,11):
        
        if x < y:
            tuple = (x,y)
        else:
            continue
    
        print(tuple)

(1, 2)
(1, 3)
(1, 4)
(1, 5)
(1, 6)
(1, 7)
(1, 8)
(1, 9)
(1, 10)
(2, 3)
(2, 4)
(2, 5)
(2, 6)
(2, 7)
(2, 8)
(2, 9)
(2, 10)
(3, 4)
(3, 5)
(3, 6)
(3, 7)
(3, 8)
(3, 9)
(3, 10)
(4, 5)
(4, 6)
(4, 7)
(4, 8)
(4, 9)
(4, 10)
(5, 6)
(5, 7)
(5, 8)
(5, 9)
(5, 10)
(6, 7)
(6, 8)
(6, 9)
(6, 10)
(7, 8)
(7, 9)
(7, 10)
(8, 9)
(8, 10)
(9, 10)